/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Modular Scale: https://www.modularscale.com/?22&px&1.333
*/

/* Base Styles */

html {
  font-size: 22px;
  background-color: #444;
  line-height: 28px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #EEE;
  padding: 28px;
}

a {
  color: #EEE;
  text-decoration: underline; /* This works for all browsers */
  text-decoration-color: #AAA; /* Additional intrinsic styles */
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}

h1,
h2,
p,
ul,
nav {
  padding-bottom: 28px;
}

nav ul {
  padding-bottom: 0;
}

/* don't add padding to nested lists */
ul li:last-child ul:last-child {
  padding-bottom: 0;
}

h1 {
  font-size: 92.592px;
  line-height: 84px;
}

h2 {
  font-size: 69.461px;
  line-height: 84px;
}

h3 {
  font-weight: bold;
  font-size: 39.092px;
  line-height: 56px;
  padding-bottom: 3.5px;
  margin-bottom: 23.5px;
  border-bottom: solid;
  border-width: 1px;
}

h4 {
  font-weight: bold;
  padding: 14px 0;
}

/* Layout Styles */

/* Module Styles */

.work-exp-description li,
.project-description li,
.extracurricular-description li,
.course-skills li,
.useful-links li {
  margin-left: 28px;
  list-style: disc;
  line-height: 27.5px;
}

.work-exp-description li,
.project-description li,
.extracurricular-description li {
  padding-top: 14px;
  padding-bottom: 14px;
}

.work-exp-details li,
.project-details li,
.extracurricular-details li {
  font-size: 16.504px;
}

#site-header {
  text-align: center;
  background-color: #222;
  color: #DDD;
  margin: -28px -28px 28px -28px;
  padding: 28px 28px 0 28px;
}

#site-header a {
  color: #DDD;
}

#site-footer p {
  padding-bottom: 0;
}

#site-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 28px;
}

#site-index header {
  flex: 0 0 100%;
}

#site-index section {
  flex: 1 0 370px;
}

#resume-languages li,
#resume-technologies li {
  margin-left: 28px;
  list-style: disc;
  line-height: 27.5px;
}

/* State Styles */

@media screen and (min-width: 320px) {
  header nav li {
    display: inline;
  }

  header nav li::before {
    content: "| ";
  }

  header nav li:first-child::before {
    content: none;
  }
}

/* Theme Styles */

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="28" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
